services:
  backend:
    build:
      context: ./backend
    container_name: cobblemon-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_MINECRAFT_SERVER_IP=${VITE_MINECRAFT_SERVER_IP}
    container_name: cobblemon-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: unless-stopped
